# Parte 2 - Alterazione e unione di datasets

### Alterazione

## Esercizio 2:
- Importare Pandas
- Caricare il dataset avocado
- Creare un subset del dataset chiamato "organic_avocado_df" dove la colonna "type" è di tipo "organic"
- Ordinare il dataset in base alla data [Suggerimento: utilizzate il metodo **sort_values(by="Nome colonna", ascending=True)**]

In [ ]:
#Importare Pandas

In [ ]:
#Caricare Dataset

#Creare Subset

#Ordinare

Creiamo un nuovo dataframe dove per ogni colonna avremo tutte le "region" e ogni riga rappresenterà la media mobile creata precedentemente per un ogni giorno:

es:

    California | Florida | New York
2015&emsp;&emsp;&emsp;1.4&emsp;&emsp;&emsp;&emsp;1.8&emsp;&emsp;&emsp;&emsp;2 <br>
2016&emsp;&emsp;&emsp;1.3&emsp;&emsp;&emsp;&emsp;1.7&emsp;&emsp;&emsp;&emsp;2 <br>

In [ ]:
media_mobile_df = 

for region in organic_avocado_df["region"].unique():
    region_df = #Estraggo una region
    region_df.set_index() #Imposto indice
    region_df.sort_index(inplace=True) #Ordino
    region_df[region] = #Inserisco contenuto della colonna
        
    if media_mobile_df.empty:
        media_mobile_df = region_df[[region]]
    else:
        media_mobile_df = .join()

## Esercizio 3:
- Convertire la colonna "Date" da stringa a datetime (Suggerimento: Nel notebook precedente abbiamo convertito l'index e non una colonna)

In [ ]:
organic_avocado_df[] = pd.to_datetime()

**Problema:** Per l'analisi che andremo a fare ci servirà il dataset contentete come region solo gli stati!

In alcuni casi abbiamo il nome della città, in altri casi abbiamo lo stato, in altri casi nome + stato, etc.. <br>
Non mi basta mantenere solo gli stati, le colonne stato sono troppo poche

Passi che andremo a compiere:
1) Separare i nomi uniti
2) Mappare le città con il proprio stato
3) Raggruppare le città nel proprio stato

### Passo 1: 
#### Separare i nomi

In [ ]:
import re

nomi_nuovi = []

for row in organic_avocado_df.itertuples():
    nomi_nuovi.append(" ".join(re.findall('[A-Z][^A-Z]*', row[-1])))

organic_avocado_df[] = 
organic_avocado_df.head()

### Passo 2:
#### Mappare le città con il proprio stato<br>
Colleghiamoci a questo [sito](https://worldpopulationreview.com/us-cities)!

In [ ]:
= pd.read_html()

Quali colonne ci interessano?

Dobbiamo iterare ogni città nel dataset e ottenere dal dizionario lo stato corrispondente

In [ ]:
citta_us_dict = [for in ]
citta_us_dict

**Problema**: <br>
'California'
'New York'
'Midsouth'
'West'
'Northeast'
'Total US'
'South Carolina'
'SouthCentral'
'West Tex New Mexico'
'Northern New England'

In [ ]:
organic_avocado_df = organic_avocado_df.drop(organic_avocado_df[(organic_avocado_df['region'] == "California") | 
                                        (organic_avocado_df['region'] == "New York") | 
                                        (organic_avocado_df['region'] == "Midsouth") | 
                                        (organic_avocado_df['region'] == "West") |
                                        (organic_avocado_df['region'] == "Northeast") |
                                        (organic_avocado_df['region'] == "Southeast") |
                                        (organic_avocado_df['region'] == "Total U S") |
                                        (organic_avocado_df['region'] == "South Carolina") |
                                        (organic_avocado_df['region'] == "South Central") |
                                        (organic_avocado_df['region'] == "West Tex New Mexico") |
                                        (organic_avocado_df['region'] == "Great Lakes") |
                                        (organic_avocado_df['region'] == "Northern New England")].index)

**Problema**: <br>
'Phoenix Tucson'
'Buffalo Rochester'
'St Louis'
'Miami Ft Lauderdale'
'Baltimore Washington'
'Richmond Norfolk'
'Dallas Ft Worth'
'Harrisburg Scranton'
'Raleigh Greensboro'
'Hartford Springfield'
'Cincinnati Dayton',
'New Orleans Mobile'

In [ ]:
organic_avocado_df.loc[organic_avocado_df['region'] == 'Phoenix Tucson', 'region'] = 'Phoenix'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Buffalo Rochester', 'region'] = 'Buffalo'
organic_avocado_df.loc[organic_avocado_df['region'] == 'St Louis', 'region'] = 'St. Louis'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Miami Ft Lauderdale', 'region'] = 'Miami'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Baltimore Washington', 'region'] = 'Baltimore'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Richmond Norfolk', 'region'] = 'Richmond'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Harrisburg Scranton', 'region'] = 'Harrisburg'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Raleigh Greensboro', 'region'] = 'Raleigh'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Hartford Springfield', 'region'] = 'Hartford'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Cincinnati Dayton', 'region'] = 'Cincinnati'
organic_avocado_df.loc[organic_avocado_df['region'] == 'New Orleans Mobile', 'region'] = 'New Orleans'
organic_avocado_df.loc[organic_avocado_df['region'] == 'Dallas Ft Worth', 'region'] = 'Dallas'

citta_us_dict["Syracuse"] = "New York"
citta_us_dict["Roanoke"] = "North Carolina"
citta_us_dict["Plains"] = "Georgia"
citta_us_dict["Albany"] = "New York"
citta_us_dict["Harrisburg"] = "Pennsylvania"
citta_us_dict["Hartford"] = "Connecticut"

In [ ]:
citta_us_dict = [ for in ]

## Esercizio 4:
- Creare nel dataframe "organic_avocado_df" la colonna "state" e assegnarli la lista appena creata

Vogliamo raggruppare gli stati tutti assieme:

In [ ]:
organic_avocado_df = organic_avocado_df.groupby(['Date','state']).mean()
organic_avocado_df.tail(25)

## Esercizio 5:
- Ricreare un dataframe chiamato **_media_mobile_df_** dove per ogni colonna avremo tutti gli "state" e per ogni riga la media mobile:

In [ ]:
______ = pd.DataFrame()

for state, group in organic_avocado_df.groupby("state"):
    group = group.reset_index()
    group[state] = group["AveragePrice"].rolling(25).mean()
    
    if __________.empty:
        _______ = group.set_index("Date")[[state]]
    else:
        _______ = ________.join(group.set_index("Date")[[state]])
        
__________.tail(20)

Osserviamo i risultati:

Meglio togliere la legenda

Stampiamo la matrice di correlazione e dopodiché salviamola in una variabile!

La correlazione è una misura statistica che descrive come due variabili sono correlate e indica quando una variabile cambia di valore, l'altra variabile tende a cambiare in una direzione specifica.

- **Correlazione positiva**: le due variabili si muovono nella stessa direzione (cioè, una variabile aumenta quando l'altra aumenta. Oppure, una diminuisce mentre l'altra diminuisce).
- **Correlazione negativa**: le due variabili si muovono in direzioni opposte (cioè, una variabile aumenta mentre l'altra diminuisce, e viceversa)
- **Correlazione neutra**: le due variabili non mostrano alcuna relazione tra loro.

**Importiamo due nuove librerie che ci aiuteranno a visualizzare la matrice di correlazione**

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

plt.matshow(media_mobile_corr)

**Abbiamo due problemi da dover risolvere per ottenere un plot più leggibile**

**Problema 1:**

In [ ]:
fig = plt.figure(__________)
ax = fig.add_subplot(111) # 1 by 1 Grind -> Number 1
ax.matshow(_________, cmap=plt.cm.RdYlGn)
plt.show()

In [ ]:
labels = [ for  in ]

fig = plt.figure(________)
ax = fig.add_subplot(111) # 1 by 1 Grind -> Number 1
ax.matshow(___________, cmap=plt.cm.RdYlGn)
ax.set_yticklabels(_______)
ax.set_xticklabels(_______)
plt.show()

In [ ]:
fig = plt.figure(_________)
ax = fig.add_subplot(111) # 1 by 1 Grind -> Number 1
ax.matshow(___________, cmap=plt.cm.RdYlGn)

ax.set_yticks(________________)
ax.set_xticks(________________)

ax.set_yticklabels(__________)
ax.set_xticklabels(__________)
plt.show()

**Ultimo problema**

Bisogna trovare un modo per mappare ogni stato con l'abbreviativo ufficiale<br>

Colleghiamoci al sito [infoplease](https://www.infoplease.com/us/postal-information/state-abbreviations-and-state-postal-codes)

## Esercizio 6:
- Caricare la pagine infoplease all'interno della variabile states_postalcode (Suggerimento: abbiamo già utilizzato la funzione pd.read_html() )

**Ci serve solo la prima parte del dataframe**

**Ora che abbiamo estratto delle informazioni possiamo salvarle in un file .csv <br>
In questo modo se in futuro dovremmo averne ancora bisogno abbiamo già il file pronto!**

**Possiamo anche caricare il dataset già con un index**

**E convertitlo in un dizionario, in questo modo sarà più semplice riutilizzarlo**

## Esercizio 7:
- salvare nella variabile "states_postalcode_dict" il dizionario con l'index stato e valore "Postal Code"

In [ ]:
_______ = ________[["________"]].to_dict()

## Esercizio 8:
- Per ogni colonna di media_mobile_corr estrai da states_postalcode_dict il Postal Code corrispondente e salvalo nella variabile "labels"

In [ ]:
labels = [_________[c] for c in ___________.columns]

In [ ]:
fig = plt.figure(_________)  

ax = fig.add_subplot(111) 
ax.matshow(______________, cmap=plt.cm.RdYlGn)  

ax.set_xticks(np.arange(len(______)))  
ax.set_yticks(np.arange(len(______)))  
ax.set_xticklabels(______)  
ax.set_yticklabels(______)  

plt.show()

### Unione:

**Combining Dataset**

**Obbiettivo:** Trovare una correlazione tra il prezzo degli avocado, il salario minimo e il tasso di disoccupazione per un determinato stato.

**Disclaimer**: NON è detto che debba esistere una causa nonostante la correlazione, è difficile giustificare i risultati o anche solo trarre qualsiasi conclusione tramite un analisi così semplice, tutto ciò è esclusivamente stato fatto per mostrare le funzionalità di pandas

**CARICHIAMO IL DATASET: [US_unemployment](https://www.kaggle.com/jayrav13/unemployment-by-county-us)**

**Controlliamo che il nostro dataset sulla media mobile non presenti valori nulli**

In [ ]:
media_mobile_df.head()

## Esercizio 9:
- Eliminare tutte le righe che presentano valori uguali a NaN -> Utilizzare funzione di [pandas](https://pandas.pydata.org/docs/user_guide/missing_data.html#dropping-axis-labels-with-missing-data-dropna)

In [ ]:
#Delate NaN

**I nostri dati sul tasso di disoccupazione sono forniti annualmente, mentre il prezzo degli avocado viene fornito con una maggiore frequenza**

In [ ]:
#GROUP BY DATE

**Carichiamo adesso il dataset sul salario minimo: [Minimum Wage Data](https://www.kaggle.com/lislejoem/us-minimum-wage-by-state-from-1968-to-2017)**

In [ ]:
#Minimum Wave

**Bisogna trasformarlo nello stesso formato del dataset _media_mobile_sd_, ovvero uno stato per ogni colonna e come riga il salario minimo per quel determinato anno**

In [ ]:
salario_min_us_df = pd.DataFrame()

for name, group in __________.groupby("State"):
    if _________.empty:
        ________ = group.set_index("Year")[["Effective.Minimum.Wage.2020.Dollars"]].rename(columns={"Effective.Minimum.Wage.2020.Dollars":name})
    else:
        ________ = _________.join(group.set_index("Year")[["Effective.Minimum.Wage.2020.Dollars"]].rename(columns={"Effective.Minimum.Wage.2020.Dollars":name}))

____________.head()

**C'è la possibilità che nel dataset ci siano dei valori uguali a 0, meglio eliminarli** <br>NOTA: Per pandas il valore uguale a 0 non corrisponde ad un valore nullo

**IMPORTANTE**: Dobbiamo creare una funzione che ci restituisca il salario minimo ricevendo in input un anno e un stato

**TESTIAMO LA FUNZIONE:**

**Ora possiamo unire il dataset _disocc_us_df_ con il dataset _salario_min_us_df_ <br>
Per fare ciò aggiungeremo una colonna "min_wage" al dataset _disocc_us_df_**

**Per utilazzere la funzione precedentemente creata dobbiamo utilizzare il metodo map:**

**Controlliamo il risultato:**

**Verifichiamo se esiste una correlazione tra questi due dati**

**Come appena fatto per il salario minimo, dobbiamo aggiungere al dataframe _disocc_us_df_ una colonna che indichi il prezzo degli avocado per un determinato stato e anno**

## Esercizio 10:
- Creare una funzione chiamata **_get_prezzo_avocado_** che restituisca il prezzo degli avocado dando in input l'anno e lo stato
- Testare la funziona con questo esempio: "Nevada", 2015

In [ ]:
media_mobile_df.head()

In [ ]:
def _______(_____, _____):
    try:
        
    except:

## Esercizio 11:
- Aggiungere al dataframe _disocc_us_df_ la colonna "avocado_price" utilizzando la funzione map

In [ ]:
%%time 

___________["_________"] = list(map(_______, _________, ________))

**Non possediamo i dati per ogni stato**

**Correlazione non significa (quasi mai) causalità**, servirebbe un analisi più approfondità!

**Ultima analisi di correlazione:**
- C'è una corrlazione tra il salario minimo di uno stato e i risultati delle elezioni presidenziali del 2016?

**Importiamo il dataframe delle [elezione del 2016](https://www.kaggle.com/stevepalley/2016uspresidentialvotebycounty)**

**Confrontiamo i due datasets che dobbiamo unire**

**Quale porzione del dataset ci interessa?**

In [ ]:
______ = ________[(________['_____']==___) & (_______['______']=="________")]

**Se vogliamo unire i datasets i nomi degli stati devono corrispondere**

Dobbiamo convertire gli stati di risultati_elettorali in POSTAL CODE

**Possiamo riutilizzare il dizionario che abbiamo creato prima!**

**Ci interessano solo i Postal Code**

Creiamo una nuova colonna del dataframe

**Ora che i valori sono coerenti controlliamo che i nomi delle colonne corrispondano!**

**PROBLEMA**: Il nome delle colonne County e State non corrispondono

In [ ]:
__________._______(columns={________}, inplace=True)

## Esercizio 12:
- Impostare "County" e "State" come indici per entrmabi i dataset!

In [ ]:
for i_df in [disocc_us_df, risultati_elettorali]:
    i_df._______(["______", "______"], inplace = True)

**Siamo interessati solo ai canditati principali cioè: Donald Trump e Hillary Clinton** <br>
**e alla percentuale di voto che hanno ricevuto**

In [ ]:
risultati_elettorali_dt = ___________[___________['_____'] == "Donald Trump"]
risultati_elettorali_dt = ___________[["___"]]
risultati_elettorali_dt = ___________.rename(columns={_________})

Ripetiamo le operazioni anche per Hillary Clinton

**Eliminiamo i valori nulli**

**Siamo pronti a fare il merge dei due datasets!**

Iniziamo con il dataframe di Donald Trump!

Ripetiamo l'operazione con il dataframe di Hillary Clinton

**La colonna "Year" è inutile essendo un dataframe del 2015**